:root {
  --blue: #2C3DC4;
  --blue-hover: #3D52FA;

  --red: #B22029;
  --red-hover: #C7232D;

  --white: #fff;
  --light-grey: #A5A7AD;
  --grey: #585858;
  --dark: #212529;

  --trans-fast: .3s var(--ease);
}
