.userCard {
  overflow: hidden;
  background: var(--white);
  color: var(--dark);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  text-align: center;
  width: 180px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.userName {
  text-transform: uppercase;
  font-weight: bold;
}

.userOrder {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
